template(name='ui_footer')

	.ui-footer

		.ui-flex-row.ui-flex-center--child.ui-pdtb-sm
			.ui-flex-1x
				a(href='{{pathFor route="about"}}') About
				a(href='#') Contact
				a(href='#') Blog
				a(href='#') Status
				a(href='#') Help
				a(href='#') Terms
				a(href='#') Privacy
				a(href='#') Cookies
				a(href='#') Business
				a(href='#') Sponsors

		.ui-flex-row.ui-flex-center--child.ui-pdtb-sm
			.ui-flex-1x
				a(href='#') @ 2015 iamrich.io
